<div class="ui raised segment signin">
  <div class="cmborder">
    <%= form_tag("/message", method: "post") do %>
      <!-- <p>Go ahead and message your guide</p> -->
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <%= text_field_tag 'message[firstName]', @current_user.first_name, class: "ui input", placeholder: "First Name" %>
        </div>
        <div class="field">
          <label>Last Name</label>
          <%= text_field_tag 'message[lastName]', @current_user.last_name, class: "ui input", placeholder: "Last Name" %>
        </div>
      </div>
      <div class="field">
        <label>Message title</label>
        <%= text_field_tag 'message[messageTitle]', nil, class: "ui input", placeholder: "Message Title" %>
      </div>
      <div class="field">
        <label>Message</label>
        <%= text_area_tag 'message[messageBody]', nil, class: "ui input", placeholder: "Message Body" %>
      </div>
      <div class="inline field">
        <%= hidden_field_tag 'message[currentUserEmail]', @current_user.email %>
      </div>
      <%= submit_tag "Submit", class: "ui blue submit button" %>

    <% end %>
  <span class='close_message' id="messageclose">&times;</span>
  </div>
</div>