<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message from <%= @firstName %> <%= @lastName %> about <%= @pinActivity %>:</h1>
    <p>
      <%= @messageBody %>
    </p>
    <p>
      <%= @firstName %> <%= @lastName %>'s email is <%= @userEmail %>
    </p>
  </body>
</html>