<!-- NAV BAR-->
<div class="ui fixed transparent inverted menu grid six column stackable">
  <a class="active item brand">
    <i class="white url icon"></i> Show me the Ropes
  </a>
  <div class="ui compact inverted menu">
    <div class="ui simple dropdown item"> Options
      <i class="dropdown icon"></i>
      <div class="menu" id="dropdown_menu">
        <div class="item toggle button dropdwn">Activities</div>
        <div class="item button dropdwn" id="addpin">Add pin</div>
      </div>
    </div>
  </div>
  <div id="right_menu" class="item right menu">
    <%= link_to( "Log Out", logout_url, method: :delete) %>
  </div>
  <div id="right_menu" class="item right menu">
    <%= "Welcome, #{@current_user.email}" %>
  </div>
</div>


<!-- SIDEBAR -->
<div class="ui styled sidebar">
  <h4 class="ui header">What activities do you like?</h4>

  <div class="ui icon input">
    <input type="text" ng-model="searchText" placeholder="Search...">
    <i class="circular search icon"></i>
  </div>

  <div id="searchTextResults" ng-controller="sportController">
    <div ng-repeat="activity in activities | filter:searchText">
      <p class="sidebar_list">{{activity.sport}}</p>
    </div>
  </div>

</div>


<!-- MAP -->
<div id="map_canvas"></div>
<div class="popin"></div>


<!-- SCRIPTS -->
<script type="text/javascript">
  $('.sidebar').first()
  .sidebar('attach events', '.toggle.button')
  ;
  $('.toggle.button')
    .removeClass('disabled')
  ;
</script>

<!--Defining the structure of the pin popup window on load
to allow ajax to grab it -->

<div id="pinContent">
  <div id="siteNotice"></div>
    <h1 id="firstHeading" class="firstHeading"></h1>
    <h3> Description </h3>
      <div id="bodyContent"></div>
    <h3> Guide </h3>
      <div id="pinGuideName"></div>
      <div class="item">
        <div id="messagePinGuide" class="ui button positive">Contact Guide</div>
      </div>
    <h3> Guide rating </h3>
      <div id="pinGuideRating"></div>
</div>

<div id="newPinForm" class="">
  <%= form_for :pin, html: {class: "ui form attached fluid segment"}, url: pins_url do |f| %>
    <div class="field">
      <label>Pin title</label>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <label>Activity</label>
      <%= f.text_field :activity %>
    </div>
    <div class="field">
      <label>Pin description</label>
      <%= f.text_area :description %>
    </div>
    <div class="field hide">
      <label>lat</label>
      <%= f.hidden_field :lat %>
    </div>
    <div class="field hide">
      <label>long</label>
      <%= f.hidden_field :long %>
    </div>
    <div class="field hide">
      <label>guide_id</label>
      <%= f.hidden_field :guide_id, value: @current_user.id %>

    </div>

    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" id="terms">
        <label for="terms">I agree to the terms and conditions</label>
      </div>
    </div>
    <%= f.submit "Submit", class: "ui blue submit button", id:"pin_submit" %>
  <% end %>
</div>

<%= javascript_include_tag "pin_drop" %>
<%= javascript_include_tag "ajax" %>
<%= javascript_include_tag "angular_search" %>
