<div id="currentUserProfile" class="ui raised segment signin">
  <form id="currentUserProfileEditForm">
    <h3 class="ui inverted green block header">
    <input type="text" name="user[first_name]" class="ui input centered" value="{{currentUserFirstName}}">
    <input type="text" name="user[last_name]" class="ui input centered" value="{{currentUserLastName}}">
    </h3>
    <div class="ui two column grid basic segment">
      <div class="column">

        <div class="ui form">
          <div class="profileWidget">
          <img class="profile" src="{{currentUserAvatar}}" alt="" />
          </div>
        </div>
      </div>


      <div class="ui vertical divider"></div>
      <div class="center aligned column">
        <h4 class="ui header">Your Guide Experience </h4>
        <p><textarea name="user[guide_experience]" class="ui input edit_prof">{{currentUserGuideExperience}}</textarea></p>
        <h4 class="ui header top_pads">Your Rookie Experience</h4>
        <p><textarea name="user[rookie_experience]" class="ui input edit_prof">{{currentUserRookieExperience}}</textarea></p>
        <h4 class="ui header top_pads">Your Email</h4>
        <p><input type="text" name="user[email]" class="ui input edit_prof" value="{{currentUserEmail}}"></p>
        <p class="hide"><input type="text" name="user[id]" class="ui input" value="{{currentUserID}}"></p>
      </div>
      <div class="center aligned column">

      </div>

    </div>

    <div class="ui divider"></div>
    <div class="footer">
    <!-- <p>Your Rating: {{currentUserRating}}</p> -->
    <span id='messageclose' class='close_profile prof_close'>&times;</span>
    </div>
    <div class="inline field editting">
      <input type="submit" value="Submit Changes" class="ui blue submit button" id="edit_submit_button">
    </div>
  </form>
</div>

<script>
  $( "#messageclose" ).on("click", function() {
      $('#currentUserProfile').fadeOut();
    });

  $("#currentUserProfileEditForm").submit(function(event) {
    event.preventDefault();

    $.ajax({
         type: "PATCH",
         url: "api/users/{{currentUserID}}",
         contentType: 'application/json',
         dataType: 'json',
         data: $('#currentUserProfileEditForm').serializeJSON()
     }).success(function(){
        getCurrentUserData();
        console.log(currentUserProfileHTML);
        $('.popin').html(window.currentUserProfileHTML).fadeIn();
     });

  });
</script>