<div id="messagePinGuideProfile" class="ui raised segment signin">
  <span id='messageclose' class='close_profile'>&times;</span>
  <h3 class="ui inverted green block header">{{guideFirstName}} {{guideLastName}}</h3>
  <div class="ui two column grid basic segment">
    <div class="column">

      <div class="ui form">
        <div class="profileWidget">
        <img class="profile" src="{{guideAvatar}}" alt="" />
        </div>
      </div>
    </div>


    <div class="ui vertical divider"></div>
    <div class="center aligned column">
      <!-- <h4 class="ui header"> Experience </h4> -->
      <p>{{guideExperience}}</p>
    </div>

  </div>

  <div class="ui divider"></div>
  <div class="footer">
  <p>Guide Rating: {{guideRating}}</p>
  </div>

</div>

<script>
  $( "#messageclose" ).on("click", function() {
      $('#messagePinGuideProfile').fadeOut();
    });
</script>