<div class="ui raised segment signin">
  <%= form_for :user, url: register_url, :html => {:multipart =>true}, html: { class: "ui form attached fluid segment"} do |f| %>


    <!-- First name, Last Name -->
    <div class="ui grid">
      <div class="eight wide column">
        <%= f.text_field :first_name, class: "", placeholder: "First name" %>
      </div>
      <div class="eight wide column">
        <%= f.text_field :last_name, class: "", placeholder: "Last name" %>
      </div>
    </div>


    <!-- Email, password, password confirmation -->
    <label id="register_label">Email</label>
      <%= f.text_field :email, class: "register_field", placeholder: "joe.bloggs@example.com" %>
    <label id="register_label">Password</label>
      <%= f.password_field :password, class: "register_field" %>
    <label id="register_label">Password confirmation</label>
      <%= f.password_field :password_confirmation, class: "register_field" %>


    <!-- Picture upload -->
    <div class="pic_upload">
      <p>
        <%= f.label :upload_image %><br />
        <%= f.file_field :avatar %><br />
        <%= f.hidden_field :image_cache %>
      </p>
      <p>
        <%= f.label :remote_image_url, "or image url" %><br />
        <%= f.text_field :remote_image_url %>
      </p>
    </div>


    <!-- Submit -->
    <%= f.submit "Submit", class: "ui positive button", id: "register_submit_button" %>

  <% end %>
  <span class='close_register' id="messageclose">&times;</span>
</div>
