<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css'>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <%= javascript_include_tag "vendor/noty/packaged/jquery.noty.packaged.min.js" %>
  <script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyA5wHc9c4B8RD4lPT_Sbr0ZybZI3kwY0sM&sensor=false"></script>


  <title>ShowMeTheRopes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">

<%= yield %>

</body>
</html>
